[Desktop Entry]
Name=org-protocol
Exec=emacsclient -c -F '((name . "org-agenda") (alpha . (85 . 85)))' %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;